nodered.json
[{"id":"df81b5cc.b5d448","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56fccc65.dc15f4","type":"ui_form","z":"df81b5cc.b5d448","name":"","label":"","group":"b729b993.9a1768","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["cdfa8d75.b34a7","f48e9edf.1c965"]]},{"id":"cdfa8d75.b34a7","type":"debug","z":"df81b5cc.b5d448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"f48e9edf.1c965","type":"function","z":"df81b5cc.b5d448","name":"","func":"msg.payload={\n    id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["8a82a768.62cde8"]]},{"id":"8a82a768.62cde8","type":"cloudant out","z":"df81b5cc.b5d448","name":"cloudant","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"d76e0f52.eca58","type":"ui_form","z":"df81b5cc.b5d448","name":"","label":"","group":"21c6d81c.4c58c8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["c7ce1b34.7d6d68"]]},{"id":"c7ce1b34.7d6d68","type":"function","z":"df81b5cc.b5d448","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["49f80ab3.663554"]]},{"id":"49f80ab3.663554","type":"function","z":"df81b5cc.b5d448","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["2d5b3f47.ad785"]]},{"id":"2d5b3f47.ad785","type":"cloudant in","z":"df81b5cc.b5d448","name":"","cloudant":"","database":"new","service":"node-red-bvzpo-2020--cloudant-1597403247612-33052","search":"_idx_","design":"newuser","index":"newuser","x":680,"y":380,"wires":[["2e36b495.fd2fbc"]]},{"id":"2e36b495.fd2fbc","type":"function","z":"df81b5cc.b5d448","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["f03aae29.f2e59"]]},{"id":"f03aae29.f2e59","type":"ui_text","z":"df81b5cc.b5d448","group":"21c6d81c.4c58c8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":380,"wires":[]},{"id":"b44145ff.e05cf8","type":"ui_form","z":"df81b5cc.b5d448","name":"","label":"","group":"e5bb62d9.a6215","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":520,"wires":[["ec03c746.ba4448"]]},{"id":"ec03c746.ba4448","type":"function","z":"df81b5cc.b5d448","name":"","func":"msg.payload = msg.payload.input;\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":520,"wires":[["f3ba6179.daae9"]]},{"id":"b42ad1bd.fb319","type":"debug","z":"df81b5cc.b5d448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":600,"wires":[]},{"id":"c4373029.527f8","type":"function","z":"df81b5cc.b5d448","name":"","func":"msg.payload=msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":660,"wires":[["c2ed6675.9e4028","e7e60710.a62568"]]},{"id":"c2ed6675.9e4028","type":"ui_text","z":"df81b5cc.b5d448","group":"e5bb62d9.a6215","order":1,"width":"6","height":"6","name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":760,"wires":[]},{"id":"e7e60710.a62568","type":"ui_audio","z":"df81b5cc.b5d448","name":"","group":"e5bb62d9.a6215","voice":"","always":"","x":930,"y":600,"wires":[]},{"id":"f3ba6179.daae9","type":"watson-conversation-v1","z":"df81b5cc.b5d448","name":"","workspaceid":"ac96198f-bdb7-4f3e-8c2a-ed06a5b3f52c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/dbd49bbf-87ad-435e-a50c-671ed752f980","timeout":"","optout-learning":false,"x":480,"y":580,"wires":[["b42ad1bd.fb319","c4373029.527f8"]]},{"id":"b729b993.9a1768","type":"ui_group","z":"","name":"Reg form","tab":"a10093a1.7a30d","order":1,"disp":true,"width":"6","collapse":false},{"id":"21c6d81c.4c58c8","type":"ui_group","z":"","name":"Second form","tab":"45a3af24.f295f","order":1,"disp":true,"width":"6","collapse":false},{"id":"e5bb62d9.a6215","type":"ui_group","z":"","name":"bot","tab":"6da7e997.830c98","order":1,"disp":true,"width":"6","collapse":false},{"id":"a10093a1.7a30d","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"45a3af24.f295f","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"6da7e997.830c98","type":"ui_tab","z":"","name":"customerhelp","icon":"dashboard","disabled":false,"hidden":false}]
